<div id="smartcareer_index_maintext">
	<h1><{$smartcareer_module_name}></h1>
	<{$smartcareer_index_text}>
</div>

<div id="smartcareer_index_right_col">
	<a href="<{$smartcareer_url}>posting.php?posting_sortsel=posting_date&posting_ordersel=ASC"><img src="<{$smartcareer_url}>images/view_postings_<{$current_language}>.jpg" alt="" /></a>
	<{if $xoops_isuser}>
	<{else}>
		<div id="smartcareer_login">
	  		<h1><{$smarty.const._LOGIN}></h1>
	  		<form action="<{$xoops_url}>/user.php" method="post">
	  		<table width="100%">
	  			<tr>
	  				<td><{$smarty.const._USERNAME}></td>
	  				<td><input type="text" name="uname" size="15" maxlength="32" value="<{$usercookie}>" /></td>	  				
	  			</tr>
	  			<tr>
	  				<td><{$smarty.const._PASSWORD}></td>
	  				<td>
	  					<input type="password" name="pass" size="15" maxlength="32" />&nbsp; <input class="smartcareer_login_button" src="<{$xoops_url}>/images/submit_arrow.gif" onclick ="this.form.submit()" type="image" />
	  				</td>	  				
	  			</tr>	  			
	  		</table>
			<div id="smartcareer_create_account"><{$smarty.const._MD_SMARTCAREER_CREATE_ACCOUNT}> <a href="user.php"><img style="vertical-align: middle;" src="<{$xoops_url}>/images/submit_arrow.gif" alt="" /></a></div>
		    <input type="hidden" name="op" value="login" />
		    <input type="hidden" name="xoops_redirect" value="/modules/smartcareer/posting.php" /><br />
	  		</form>
		</div>			
	
	<{/if}>
</div>
<div style="clear: both;"></div>

<{includeq file='db:smartcareer_footer.html'}>
<{includeq file='db:system_notification_select.html'}>